!!!
%html
	%head
		%link(href = "s.css" rel = "stylesheet" type = "text/css")
		%title= "VKontakte Monitor"
	%body
		%div(class = "online")
			%p.online= @ans["online"] == 1 ? "Online" : "Offline"
		%div(class = "box")
			%img(src = @photo align = "left" alt = "Userpic")
			- @ans.each do |key,value|
				%p= key.to_s + " = " + value.to_s
			%p= "last_seen = " + Time.at(@time["time"]).asctime.slice(4..-5)
			%p= "it was " + ((Time.now - Time.at(@time["time"])) / 60).floor.to_s + " minutes ago"