<h1>
  <span class='badge badge-default'>
    Users: <span class="badge badge-pill badge-primary"><%= @status[:user_count] %></span>
  </span>
  <span class='badge badge-default'>
    Watchers: <span class="badge badge-pill badge-primary"><%= @status[:watcher_count] %></span>
  </span>
  <span class='badge badge-default'>
    Friends: <span class="badge badge-pill badge-primary"><%= @status[:friend_count] %></span>
  </span>
</h1>
<h1>
  <span class='badge badge-danger'>
    Ruby: <%= @status[:ruby] %>
  </span>
</h1>
<h1>
  <span class='badge badge-success'>
    Rails: <%= @status[:rails] %>
  </span>
</h1>
<h1>
  <span class='badge badge-warning'>
    Puma: <%= @status[:puma] %>
  </span>
</h1>
<h1>
  <span class='badge badge-info'>
    PostgreSQL: <%= @status[:postgresql] %>
  </span>
</h1>
<h1>
  <span class='badge badge-primary'>
    <%= @status[:time] %>
  </span>
</h1>
