<h1>
  <span class='tag tag-default'>
    Users: <span class="tag tag-pill tag-primary"><%= @status[:user_count] %></span>
  </span>
  <span class='tag tag-default'>
    Watchers: <span class="tag tag-pill tag-primary"><%= @status[:watcher_count] %></span>
  </span>
  <span class='tag tag-default'>
    Friends: <span class="tag tag-pill tag-primary"><%= @status[:friend_count] %></span>
  </span>
</h1>
<h1>
  <span class='tag tag-danger'>
    Ruby: <%= @status[:ruby] %>
  </span>
</h1>
<h1>
  <span class='tag tag-success'>
    Rails: <%= @status[:rails] %>
  </span>
</h1>
<h1>
  <span class='tag tag-warning'>
    Puma: <%= @status[:puma] %>
  </span>
</h1>
<h1>
  <span class='tag tag-info'>
    PostgreSQL: <%= @status[:postgresql] %>
  </span>
</h1>
<h1>
  <span class='tag tag-primary'>
    <%= @status[:time] %>
  </span>
</h1>
