<div class='row'>
  <div class='col-sm-12'>
    <div class='table-responsive'>
      <table class='table table-sm table-striped table-hover'>
        <thead>
          <tr>
            <th>VK ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @watcher.friends.each do |friend| %>
            <tr>
              <td><%= friend.id %></td>
              <td><%= friend.first_name %></td>
              <td><%= friend.last_name %></td>
              <td><%= friend.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Back', request.referrer || root_path, class: 'btn btn-warning' %>
